extends layout

block content
  #shop-container
    h1 Implementacion de Pago Facil en Node
    a(href="/btnCobro") Generar link de cobro
    br/
    br/
    a(href="/gwAll") Redireccionar a portal de Pagos
    br/    
    a(href="/gwSpecifiq") Redireccionar a portal de Pagos con Forma de Pago establecida